<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Main Page</h1>
    <h2><a href="{% url 'gamgi' %}">gamgi</a></h2>
    <h2><a href="{% url 'gamgi_new' %}">gamgi_new</a></h2>
    <h2><a href="{% url 'chunsik' %}">chunsik</a></h2>
    <h2><a href="{% url 'smartwork' %}">smartwork</a></h2>
    <h2><a href="{% url 'hospital' %}">hospital</a></h2>
    <h2><a href="{% url 'hospital_h' %}">hospital_h</a></h2>
    <h2><a href="{% url 'hospital_p' %}">hospital_p</a></h2>
</body>
</html>